doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title リダイレクトするよ
  body
  h1 #{seconds}秒後にリダイレクトするよ
  meta(http-equiv="refresh", content=seconds + "; url=https://www.nicovideo.jp/")